### 학습데이터 가져오기

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('word.csv')
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,word
0,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,12.000000,13.000000,14.000000,0
1,9.775202,42.653847,48.574692,88.114761,81.994308,77.961464,94.898933,125.443275,56.925583,99.828987,133.625732,42.530487,95.065498,127.851860,43.441200,0
2,6.263029,31.672340,44.058716,85.427307,92.551010,68.258530,95.238327,140.307175,50.154953,96.317352,142.986740,33.830708,89.198883,154.159714,24.125689,0
3,3.274355,35.845413,56.542858,87.792763,81.150269,79.849731,96.075310,123.107735,63.225262,101.310402,122.436287,51.923023,95.235603,119.647964,55.850574,0
4,9.847301,11.863350,15.241724,80.611069,95.893417,68.396011,85.418083,134.784088,51.781860,81.750557,142.081360,33.402031,68.771431,159.354568,19.040119,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3197 entries, 0 to 3196
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3197 non-null   float64
 1   1       3197 non-null   float64
 2   2       3197 non-null   float64
 3   3       3197 non-null   float64
 4   4       3197 non-null   float64
 5   5       3197 non-null   float64
 6   6       3197 non-null   float64
 7   7       3197 non-null   float64
 8   8       3197 non-null   float64
 9   9       3197 non-null   float64
 10  10      3197 non-null   float64
 11  11      3197 non-null   float64
 12  12      3197 non-null   float64
 13  13      3197 non-null   float64
 14  14      3197 non-null   float64
 15  word    3197 non-null   int64
dtypes: float64(15), int64(1)
memory usage: 399.8 KB

In [4]:
# data=data.astype({'word': object}) 
# data

### train test 분리

In [5]:
target = 'word'
x = data.drop(target, axis = 1)
y = data.loc[:, target]
x = (x-x.min()) / (x.max() - x.min())

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state = 42)

In [7]:
x_train.shape

(2237, 15)

### 모델링

In [8]:
from sklearn.neighbors import KNeighborsClassifier

knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(x_train, y_train)
knn_pred = knn_model.predict(x_test)

In [9]:
from sklearn.metrics import classification_report
print(classification_report(y_test, knn_pred))

              precision    recall  f1-score   support

           0       0.94      0.95      0.95       123
           1       0.93      0.95      0.94       113
           2       0.99      1.00      1.00       114
           3       1.00      1.00      1.00       123
           4       1.00      0.99      1.00       123
           5       0.98      0.98      0.98       114
           6       0.81      0.91      0.86        96
           7       0.95      0.86      0.90       154

    accuracy                           0.95       960
   macro avg       0.95      0.96      0.95       960
weighted avg       0.95      0.95      0.95       960

In [11]:
# 모델 저장
import joblib
joblib.dump(knn_model, 'knnmodel_mo.pkl')

['knnmodel_mo.pkl']